<template>
  <b-modal
    title="Not Logged In"
    ok-title="Login"
    v-bind:ok-disabled="authenticating"
    v-on:ok="loginButton"
    v-on:hide="modalHidden"
    v-on:shown="modalShown"
    centered
    hide-header-close
    static
    visible
  >
    <p>You need to login to participate in Q &amp; A.</p>
    <p v-if="type == 'gitlab'">
      Authentication is done via SSO through
      <a v-bind:href="sso_url">{{ sso_name }}</a
      >.
    </p>
    <form ref="loginForm" v-if="type == 'password'">
      <div class="alert alert-danger" v-if="error_message">
        <b>Login Failed:</b> {{ error_message }}
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          name="email"
          placeholder="Email address"
          v-model="email"
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control"
          name="password"
          placeholder="Password"
          v-model="password"
        />
      </div>
    </form>
    <template #modal-ok>
      <span
        class="spinner-border spinner-border-sm"
        role="status"
        aria-hidden="true"
        v-if="authenticating"
      ></span>
      <span v-if="authenticating">Logging in...</span>
      <span v-else>Login</span>
    </template>
  </b-modal>
</template>

<script>
import Vue from 'vue';
import {ModalPlugin} from 'bootstrap-vue';
import {mapState} from 'vuex';

Vue.use(ModalPlugin);

export default {
  computed: mapState({
    authenticating: state => state.auth.authenticating,
    error_message: state => state.auth.error_message,
    sso_name: state => state.auth.sso_name,
    sso_url: state => state.auth.sso_url,
    type: state => state.auth.type,
  }),
  data: () => ({
    email: '',
    password: '',
  }),
  methods: {
    loginButton(event) {
      if (this.type == 'gitlab') {
        event.preventDefault();
        let qs = '';
        if ('next' in this.$router.currentRoute.query) {
          const query = {
            next: '/#' + this.$router.currentRoute.query.next,
          };
          qs = '?' + new URLSearchParams(query).toString();
        }
        window.location = '/login' + qs;
      } else if (this.type == 'password') {
        event.preventDefault();
        this.passwordLogin();
      }
    },
    inputKeyDown(event) {
      if (event.key == 'Enter' && this.type == 'password') {
        event.preventDefault();
        this.passwordLogin();
      }
    },
    modalHidden() {
      this.password = '';
      if ('next' in this.$router.currentRoute.query) {
        this.$router.push(this.$router.currentRoute.query.next);
      } else {
        this.$router.push('/');
      }
    },
    modalShown() {
      if (this.type == 'password') {
        const form = this.$refs.loginForm;
        for (const input of form.querySelectorAll('input')) {
          input.addEventListener('keydown', this.inputKeyDown);
        }
      }
    },
    passwordLogin() {
      if (this.authenticating) {
        return;
      }
      const email = this.email;
      const password = this.password;
      this.$store.dispatch('auth_password_login', {email, password});
    },
  },
};
</script>
