<template>
  <b-navbar-nav class="ml-auto">
    <b-nav-item-dropdown v-bind:text="user_name" right v-if="authenticated">
      <b-dropdown-item v-on:click="logout">Log Out</b-dropdown-item>
    </b-nav-item-dropdown>
    <b-nav-item v-if="!authenticated" v-on:click="login">
      Log In
    </b-nav-item>
  </b-navbar-nav>
</template>

<script>
import {mapState} from 'vuex';

export default {
  computed: mapState({
    authenticated: state => state.auth.authenticated,
    user_name: state => state.auth.user.fullname,
  }),
  methods: {
    login() {
      this.$router.push({
        path: '/login',
        query: {next: this.$router.currentRoute.path},
      });
    },
    logout() {
      this.$store.dispatch('auth_logout');
    },
  },
};
</script>
