<template>
  <b-card>
    <b-card-title>
      <div class="float-right">
        <b-button
          v-on:click="vote"
          v-bind:disabled="!authenticated || my_question"
          v-bind:variant="voted ? 'success' : 'secondary'"
          >▲</b-button
        >
        {{ question.votes }}
      </div>
      <div v-if="author">
        <img class="avatar" v-bind:src="author.avatar_url"/>
        {{ author.fullname }} asks:
      </div>
      <div v-else>
        <!-- Transient state while we wait for user information -->
        Someone asks:
      </div>
    </b-card-title>
    <b-card-text>{{ question.body }}</b-card-text>
  </b-card>
</template>

<script>
import {mapState} from 'vuex';
import {BButton, BCard, BCardTitle, BCardText} from 'bootstrap-vue';

export default {
  props: ['id'],
  components: {
    BButton,
    BCard,
    BCardTitle,
    BCardText,
  },
  computed: mapState({
    authenticated: state => state.auth.authenticated,
    author(state) {
      return state.users.users_by_id[this.question.author];
    },
    my_question(state) {
      return this.question.author == state.auth.user.user_id;
    },
    question(state) {
      return state.questions.questions_by_id[this.id];
    },
    voted(state) {
      return state.questions.questions_voted[this.id] == true;
    },
  }),
  methods: {
    vote() {
      if (!this.voted) {
        this.$store.dispatch('question_vote', this.id);
      } else {
        this.$store.dispatch('question_unvote', this.id);
      }
    },
  },
};
</script>

<style language="text/css" scoped>
img.avatar {
  vertical-align: baseline;
  max-height: 1em;
}
</style>
