<template>
  <div>
    <div v-if="talk">
      <h1>Talk: {{ title }}</h1>
      <div class="my-4">
        <b-alert v-if="!authenticated" show variant="info">
          <b-button v-on:click="login" variant="primary">Log In</b-button>
          to ask questions or vote
        </b-alert>
        <b-form v-else v-on:submit="post_question">
          <b-form-textarea
            id="question"
            v-model="question"
            placeholder="Enter your question"
          />
          <b-button
            v-bind:disabled="!valid_question"
            type="submit"
            variant="primary"
            >Ask Question</b-button
          >
        </b-form>
      </div>
      <Question
        v-for="question in questions"
        v-bind:key="'question_' + question.question_id"
        v-bind:id="question.question_id"
      />
    </div>
    <b-alert v-else-if="talks_loaded" show variant="danger"
      ><strong>404:</strong> Unknown talk</b-alert
    >
    <b-alert v-else show variant="info">Loading talks...</b-alert>
  </div>
</template>

<script>
import {mapState} from 'vuex';
import {BButton, BForm, BFormTextarea} from 'bootstrap-vue';
import Question from './Question.vue';

export default {
  data: () => ({
    question: '',
  }),
  props: ['id'],
  components: {
    BButton,
    BForm,
    BFormTextarea,
    Question,
  },
  created() {
    this.fetch_questions();
  },
  computed: mapState({
    authenticated: state => state.auth.authenticated,
    talks_loaded: state => Object.keys(state.talks.talks_by_id).length,
    talk(state) {
      return state.talks.talks_by_id[this.id];
    },
    title() {
      return this.talk.title;
    },
    questions(state) {
      let questions = Object.values(state.questions.questions_by_id);
      return questions.filter(
        question => question.talk_id == this.id && question.deleted_at == null
      );
    },
    valid_question() {
      return this.question.trim().length > 3;
    },
  }),
  methods: {
    fetch_questions() {
      this.$store.dispatch('questions_list', this.id);
      if (this.authenticated) {
        this.$store.dispatch('questions_voted');
      }
    },
    login() {
      this.$router.push('/login');
    },
    post_question(ev) {
      ev.preventDefault();
      this.$store.dispatch('question_post', {
        talk_id: this.id,
        body: this.question,
      });
      this.question = '';
    },
  },
  watch: {
    $route: 'fetch_questions',
  },
};
</script>
