<template>
  <div>
    <h1>Talks:</h1>
    <div class="row">
      <b-card
        v-for="talk in talks"
        v-bind:key="'talk_' + talk.talk_id"
        v-bind:title="talk.title"
        class="col-2"
      >
        <b-card-text>by {{ talk.speakers }}</b-card-text>
        <b-card-text>{{ talk.start_at.toDateString() }}</b-card-text>
        <b-card-text
          >{{ talk.start_at.toLocaleTimeString() }} –
          {{ talk.end_at.toLocaleTimeString() }}</b-card-text
        >
        <router-link
          class="btn btn-primary"
          v-bind:to="'/talks/' + talk.talk_id"
          >Q&amp;A</router-link
        >
      </b-card>
    </div>
  </div>
</template>

<script>
import {mapState} from 'vuex';
import {BCard, BCardText} from 'bootstrap-vue';

export default {
  components: {
    BCard,
    BCardText,
  },
  computed: mapState({
    talks(state) {
      const talks_by_id = state.talks.talks_by_id;
      var talks = [];
      for (const talk_id in talks_by_id) {
        const talk = talks_by_id[talk_id];
        if (talk.deleted_at == null) {
          talks.push(talk);
        }
      }
      talks.sort((a, b) => a.start_at - b.start_at);
      return talks;
    },
  }),
};
</script>
