<template>
  <div id="app">
    <b-navbar toggleable="lg" type="light" variant="light">
      <b-navbar-brand href="#" v-on:click="navigate_home"
        >Q & A: {{ event_name }}</b-navbar-brand
      >
      <NavBarControls />
    </b-navbar>
    <main class="container-fluid">
      <b-alert
        variant="danger"
        v-for="error in errors"
        v-bind:key="error.key"
        v-on:dismissed="dismiss_error(error)"
        show
        dismissible
      >
        <strong>Error:</strong> {{ error.message }}
      </b-alert>
      <router-view />
    </main>
    <footer class="footer mt-auto py-3 bg-light">
      <div class="container-fluid">
        <span class="text-muted">
          Source:
          <a href="https://salsa.debian.org/debconf-video-team/q-and-a"
            >on Salsa</a
          >
        </span>
      </div>
    </footer>
  </div>
</template>

<script>
import Vue from 'vue';
import VueRouter from 'vue-router';
import {AlertPlugin, NavbarPlugin} from 'bootstrap-vue';
import {mapState} from 'vuex';

import NavBarControls from './components/NavBarControls.vue';

const {NavigationFailureType, isNavigationFailure} = VueRouter;

Vue.use(AlertPlugin);
Vue.use(NavbarPlugin);
Vue.use(VueRouter);

export default {
  name: 'QA',
  components: {
    NavBarControls,
  },
  computed: mapState({
    errors: state => state.errors.errors,
    last_update: state => state.websocket.state_last_updated,
    event_name: state => state.websocket.event_name,
  }),
  methods: {
    navigate_home() {
      this.$router.push('/').catch(failure => {
        if (!isNavigationFailure(failure, NavigationFailureType.duplicated)) {
          throw failure;
        }
      });
    },
    dismiss_error(error) {
      this.$store.commit('error_remove', error.key);
    },
  },
  created() {
    this.$store.dispatch('connect');
  },
  watch: {
    event_name(event_name) {
      document.title = 'Q & A: ' + event_name;
    },
  },
};
</script>

<style>
#nav-logo {
  max-height: 1.5em;
}

/* Sticky footer: */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 3rem;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  padding-left: 1rem;
}
</style>
