<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Q & A</title>
  </head>
  <body>
    <noscript>
      <strong>
        Sorry, this is a JS application.
      </strong>
    </noscript>
    <div id="app"></div>
  </body>
</html>
